
/* Wrapper */
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px;
  background-color: var(--bg-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

/* Title */
.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 20px;
}

/* Form */
.blogForm {
  display: flex;
  flex-direction: column;
}

.row,
.row2 {
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

.blogTitle,
.blogForm select,
.blogForm textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 1rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Image Preview */
.previewImage {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1em;
}

/* Submit Button */
.button {
  background-color: var(--button-bg);
  color: white;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--button-hover);
}

/* Message */
.message {
  margin-top: 15px;
  font-weight: bold;
  color: var(--message-color);
}