.wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  background: var(--bg-color);
}

/* Main Title */
.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: var(--color);

}

/* Sections with Background Images */
.section {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 250px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

/* Dark Overlay to Improve Text Visibility */
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Section Title */
.sectionTitle {
  font-size: 2rem;
  margin-bottom: 10px;
  color:white;
}

/* Section Content */
.content {
  font-size: 1.2rem;
  margin-bottom: 15px;
  max-width: 80%;
  color:white;
}

/* Buttons */
.button {
  background-color: #ff5a5f;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.button:hover {
  background-color: #ff1a1f;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

