.hiddenFileInput {
    display: none;
}


.fileUploadButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border: none;
    background: white;
    border: 1px solid #e75480; /* Static pink border */
    color: #e75480; /* Static pink text */
    transition: 1.3s;
    width: 13.5rem;
    height: 3rem;
    padding:1em;
    border-radius: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 1em;
  }
  
  /* Hover & Focus Effects */
  .fileUploadButton:hover,
  .fileUploadButton:focus {
    border-color: #ffb380; /* Adjusted hover color */
    color: white;
    box-shadow: inset 15rem 0 0 0 #ffb380; /* Hover effect */
  }
  
  .wide {
    width: 20rem;
  }