.chatList {
    flex: 1;
    border-right: 1px solid #ddd;
    height: 100vh;
    overflow-y: auto;
    background: url('/chat_background.png');
    background-size:cover;
    background-position: center;
    position:relative;
  }
  
  .title {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 28px;
    font-weight: bold;
    margin:auto;
    color: #fcfcfc;

    text-align: center;
    background-color: #355b7a96;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    display: flex;
    align-items: flex-start;
    background-color: #0d273185;
    padding: 12px;
    border-bottom: 1px solid #01070f;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .listItem:hover {
    background-color: #536c9b;
  }
  
  .chatInfo {
    margin-left: 1em;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
  
  .chatName {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
  }
  
  .lastMessage {
    font-size: 14px;
    color: #ffffff;
    margin-top: 4px;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.searchBar input {
    display: block;
  color:black;
    margin:0.5em auto;
  
	width: 90%;
    height: 2em;
	background: white;
	padding: 0 30px 0 60px;
	border: none;
	border-radius: 100px;

	outline-offset: -1px;
}

.searchBar {
    flex: 1;
    background-color: rgba(240, 139, 139, 0.76);
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom:1px solid rgb(8, 6, 8);
    padding: 10px;

}

.searchBar img {
    width: 40px;
    height: 40px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    background-color: #536c9b;
    padding:0.3em;
  }

  .deleteIcon {
    position: absolute;
    right: 1rem;
    font-size: 1.2rem;
    color: #c0392b;
    opacity: 0;
    transition: opacity 0.2s ease;
    cursor: pointer;
  }
  
  .listItem:hover .deleteIcon {
    opacity: 1;
  }

  .deleteIcon:hover {
    background-color: red;
    border-radius: 50px;
  }

  .deleteIcon:hover::before {
    display: inline-block;
    padding:0.6em;
    color:white;
    content: "delete ";
    text-align: start;
  }