.chatMain {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    background-color: rgba(80, 164, 233, 0.205);
    background: url('/chat_background2.png');
    background-size:cover;
    background-position: center;
}

.chatMain p {
    color: #555;
    text-align: center;
}
