.chatFooter {
    display: flex;
    padding: 10px;
    background: #f1f1f1;
    border-top: 1px solid #ddd;
    gap:0.6em;
}

.chatFooter input {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.chatFooter button {
    flex:1;
    padding: 1em 1em;
    background: #0078ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chatFooter button:hover {
    background: #005ecb;
}
