.trackPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-color: #FFFFFF;
background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%,  #FF0000 100%);

  }
  
  .trackContainer {
    display: flex;
    width:100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    position: relative;
  }
  
  .playerContainer {
    flex: 2;
    padding: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
  }
  
  .trackImageContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
  }
  
  .trackImage {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .authorInfo {
    
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    padding:1em;
    gap:0.5em;
  }
 
  
  .authorAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .profileButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .profileButton:hover {
    opacity: 0.8;
  }
  .trackInfo {
    width:100%;
    background: #007bff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 1em 0em 1em;
    color:white;
  }

  .trackInfo h2 {
    color:white;
  }

  .genreWrapper {
    display: flex;
    width: 10%;
    justify-content: space-evenly;
    background-color: #6284FF;
  }

  .userNameNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:4em;
  }