.trackPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
}

.trackContainer {
    display: flex;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.playerContainer {
    flex: 2;
    padding: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.trackImageContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.trackImage {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}
