#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Default Light Mode */
:root {
  --bg-color: rgb(255, 255, 255);
  --text-color: #000000;
  --border-color: #ccc;
  --button-bg: #ff5a5f;
  --button-hover: #ff1a1f;
  --message-color: green;
}




