/* TYPOGRAPHY */
/* Import Lato font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');



/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  
}


:root {
  
  --primary-font: "Lato", sans-serif;
  --bg-color: rgb(255, 255, 255);
  --text-color: #000000;
  --border-color: #ccc;
  --button-bg: #ff5a5f;
  --button-hover: #ff1a1f;
  --message-color: green;

  font-family: var(--primary-font);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --genres-bg: linear-gradient(to right, #f2f2f22f, #eaeaeaa6, #dcdcdc52);
   --custom-playlists-bg: rgba(251, 255, 200, 0.753);
   --underline-color: black; 
   --header-bg: rgba(255, 255, 255, 0.253);
   --login-bg: rgba(255, 255, 255, 0.438);
   --bg-color-inverse: #fcfcfc;
   --dropdown-bg-color: #fff;
   --custom-bloglist-bg: linear-gradient(to right, #012574e8, #345cb3a6, #beabf152);
   --custom-bloglist-color-hover: #fff;
   --color: black;
}

/* Apply to body */
body {
  background:var(--bg-color) ;
  width:100%;
}

/* Apply font to form elements */
body, input, button, select, textarea {
  font: inherit;
}

/* Lists */
ul, ol {
  list-style: none;
}

/* Paragraph spacing */
p, ul, ol {
  padding-bottom: 1.5em;
}


html.dark-theme {
  --bg-color: rgb(20, 20, 20);
  --bg-color-inverse: #ffffff;
  --text-color: #ffffff;
  --border-color: #555;
  --button-bg: #e75480;
  --button-hover: #ff7f9f;
  --message-color: lightgreen;
  --playlist-border-color: white;
  --popup-bg-color: #1e1e1e;
  --genres-bg: linear-gradient(to right, #151422d7, #091616cb, #3a3838ab); 
  --custom-playlists-bg: rgba(221, 207, 83, 0.233);
  --underline-color: white;
  --header-bg: rgba(221, 207, 83, 0.233);
  --login-bg: rgba(0, 0, 0, 0.6);
  --dropdown-bg-color: #f5ec71;
  --custom-bloglist-bg: #41551b;
  --color: white;
}